<a href="https://colab.research.google.com/github/ziedjouini/Checkpoints/blob/main/support_quest_str_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# str

### mission 4

Display the following string without including the spaces 


at the beginning and end. There's a string method that does exactly that, look at the documentation!

In [ ]:
s = "   Data Analyst  " #3 espaces au début du str et 2 à la fin

print(len(s))
s_strip = s.strip()

print(len(s_strip))

17
12

In [ ]:
s = "[Data Analyst]" #3 espaces au début du str et 2 à la fin

print(len(s))
s_strip = s.strip('[]')
print(s_strip)
print(len(s_strip))

14
Data Analyst
12

### mission 5

Ask the user for a string, then for a character, then for another character.

Then, display the first string where the occurences of the first character are replaced by the second one.

In [ ]:
string_input = input("please enter a word : ")
char_input1 = input("please enter a first char : ")
char_input2 = input("please enter a second char : ")

#"welcome" , e, u
# --> wulcomu
string_final = string_input.replace(char_input1, char_input2)
print(string_final)

please enter a word : welcome
please enter a first char : e
please enter a second char : u
wulcomu

### mission 6

Ask the user for a string. Then, display the same string with all vowels converted to uppercase, and all consonants converted to lowercase.

In [ ]:
#rappel boucles 
test = 'Hello'

#boucle valeur
""""
for v in test:
    print(v)
"""
"""
#boucle sur indice
for i in range(len(test)):
    print(i, test[i] )
"""
#index valeur
for i, v in enumerate(test):
    print(i,v)

0 H
1 e
2 l
3 l
4 o

In [ ]:
string_input = input("please enter a word : ")
vowels = 'aeuoiAEUOI'
# "HELLO" 
# -- > hEllO
final_string = ''
# BOUCLE PARCOURIR VALEUR DU STRING_input 
for v in string_input :
        #condition : est ce que mon char est une voyelle ? :
        if v in  vowels :
           # convertir en maj
            v.upper()
        #sinon :
        else :
            final_string += v.lower()
            #convertir en min

print(final_string)

please enter a word : HELLO
hEllO

# liste

### mission 3

Define a list with five numbers, then ask the user for a number. Put the number at the end of the list, remove the first element from the list, and finally display the list.

For example, with the list test_list3 = [1, 9, 6, 15, 4] and the input 7, you should display:

[9, 6, 15, 4, 7]

In [ ]:
#rappel 
l = [9, 6, 15, 4, 7]

#modifier premiere valeur
l[0] = 10
print(l)

[10, 6, 15, 4, 7]

In [ ]:
#mission 3
l = [9, 6, 15, 4, 7]
number_input = int(input('please choose a number : '))
#print(type(number_input))

#rajouter number_input à la fin de la liste
l.append(number_input)
print(l)

#remove first element
#l[START:STOP:STEP] PAR DEFAUT : start indice 0, stop fin de liste ; step 1 par defaut 
print(l[1::])

please choose a number : 5
[9, 6, 15, 4, 7, 5]
[6, 15, 4, 7, 5]

### mission 4

Define a list, then ask the user for a string. Then, insert the string in the list at a random position, and display the resulting list.

For example, with the list test_list4 = ["p", "y", "t", "h", "o"] and the input n, you might get:

["p", "n", "y", "t", "h", "o"]
... but you might also get:

["p", "y", "t", "n", "h", "o"]

In [ ]:
import random 
test_list4 = ["p", "y", "t", "h", "o"]
# ask for string input
string_input = input("please enter a char : ")
# générer une position aléatoire ?
random_pos = random.randint(0,len(test_list4) - 1)

# inserer la valeur string input à la position aleatoire
test_list4[random_pos] = string_input
#afficher ma liste
print(random_pos)
print(test_list4)

please enter a char : n
4
['p', 'y', 't', 'h', 'n']

### mission 7

Define three lists containing no duplicates. Then, indicate (however you like) the two that have the most elements in common (or all three if there's a tie).

For instance, with:

list_a = [1, 2, 4, 8, 16, 32]

list_b = [1, 2, 3, 5, 8, 13]

list_c = [2, 3, 5, 7, 11, 13]

It may display:

Lists B and C have the most common elements!

In [ ]:

list_a = [1, 2, 4, 8, 16, 32]

list_b = [1, 2, 3, 5, 8, 13]

list_c = [2, 3, 5, 7, 11, 13]

# --> Lists B and C have the most common elements!

# list a et list b , nbr element en commun ?
count_ab = 0
for v  in list_a :
    if v in list_b :
        #print(v)
        count_ab +=  1 
#print(count_ab)
        


# list c et list b , nbr element en commun ?

count_cb = 0
for v  in list_c :
    if v in list_b :
        #print(v)
        count_cb +=  1 
#print(count_cb)

# list a et list c, nbr element en commun ?

count_ac = 0
for v  in list_a :
    if v in list_c :
        #print(v)
        count_ac +=  1 
#print(count_ac)

#rq on peut passer par les fonction
"""
def count_common_nbr(l1,l2):
        
    count = 0
    for v  in l1:
        if v in l2 :
            #print(v)
            count +=  1 
    return count

print(count_common_nbr(list_a,list_b))
"""

#comparer avec des conditions  : les listes à afficher ?

list_count =  [count_ab,count_ac,count_cb]

if max(list_count) == count_cb  :
    print('Lists B and C have the most common elements!')

elif max(list_count) == count_ac  :
    print('Lists a and C have the most common elements!')

elif max(list_count) == count_ab  :
    print('Lists a and b have the most common elements!')
else :
    print('resultat inconnu')

3
Lists B and C have the most common elements!

In [ ]:
test =1,2,3,3,3,3
print(type(test))
print(test)

<class 'tuple'>
(1, 2, 3, 3, 3, 3)

In [ ]:
test_set ={1,2,3,3,3,3}
print(type(test_set))
print(test_set)

<class 'set'>
{1, 2, 3}

In [ ]:
string_test = 'abccccc'
print(set(string_test))

{'a', 'c', 'b'}

In [ ]:
# deuxième méthode avec les set

#transformer mes listes en set

seta,setb,setc = set(list_a), set(list_b), set(list_c)

#print(seta)
#print(setb)

# set a et set b , nbr element en commun ?

count_ab = len(seta.intersection(setb))
#set b et c
count_bc = len(setc.intersection(setb))
#set a et c
count_ac = len(setc.intersection(seta))



#comparer avec des conditions  : les listes à afficher ?

list_count =  [count_ab,count_ac,count_bc]

if max(list_count) == count_cb  :
    print('Lists B and C have the most common elements!')

elif max(list_count) == count_ac  :
    print('Lists a and C have the most common elements!')

elif max(list_count) == count_ab  :
    print('Lists a and b have the most common elements!')
else :
    print('resultat inconnu')

{32, 1, 2, 4, 8, 16}
{1, 2, 3, 5, 8, 13}
Lists B and C have the most common elements!